<form action="/plans/{{plan._id}}/add-routine" method="post" enctype="multipart/form-data"> 
        
        <label for="">Session number: </label>
        <input type="number" name="session">
      
        <label for="">Education:</label>
        <textarea name="education" id="" cols="30" rows="10"></textarea>

        <label for="">Tips:</label>
        <textarea name="tips" id="" cols="30" rows="10"></textarea>

        <label>Image session </label>
        <input type="file" name="imageRoutine" id="">

        
        <label for="">Calories : 2000 cal</label>
        <input type="Number" name="calories" id="">

        <label for="">Water : 8 glasses</label>
        <input type="Number" name="water" id="">

        <label for="">Sleep : 8 hours/day</label>
        <input type="Number" name="sleep" id="" >

        <label for="">Exercise : 60 minutes</label>
        <input type="Number" name="exercise" id="">

        <button type="submit">Add Routine </button>
</form>

